@import "font-awesome";

.center {
  text-align: center;
}
.no-padding {
  padding: 0 !important;
}
.left-padding {
  padding-left: 15px !important;
}
.alert {
  padding-left: 100px !important;
  border-radius: 0px !important;
}
.close {
  margin-right: 100px !important;
}
